.section-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 40px;
}

.section-header h2 {

    margin: 0;
}

.see-all-btn {

    text-decoration: none;

    color: #ff9800;

    font-weight: 600;

    transition: 0.3s;
}

.see-all-btn:hover {

    color: #e68900;

    transform: translateX(5px);
}