.page-hero {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.page-hero h1 {
    font-size: 3rem;
}

section {
    padding: 70px 20px;
    text-align: center;
}

.member-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.member-card {
    width: 220px;
    background: white;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 5px 15px rgba(0,0,0,.1);

    transition: 0.3s;
}

.member-card:hover {
    transform: translateY(-8px);
}

.member-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.member-card h3 {
    margin: 15px 0 5px;
}

.member-card p {
    color: #666;
    margin-bottom: 15px;
}